<!--
  Book Notes Tracker - Footer Partial
  Author: Hemant Vijay
  Last Updated: 3-Nov-2025
  Project Credit: This project is part of Angela Yu's Complete Web Development Bootcamp
  Course URL: https://www.udemy.com/course/the-complete-web-development-bootcamp/learn/lecture/40325688#overview

  This is a reusable footer component that appears on all pages
-->
  </main>

  <!-- Footer section -->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Hemant Vijay. All rights reserved.</p>
      <p class="credit">
        Project created as part of
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/learn/lecture/40325688#overview" target="_blank">
          Angela Yu's Complete Web Development Bootcamp
        </a>
      </p>
    </div>
  </footer>
</body>
</html>
